.apresentacao {
    align-items: center;
    display: flex;
    height: calc(100vh - 20px);
    margin: 0 auto;
    width: 80%;
}

.apresentacao__texto {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 246px;
    justify-content: center;
    margin: auto 0;
    width: 751px;
}

.apresentacao__texto-titulo {
    color: #464646;
    font-size: 45px;
    font-weight: 700;
    line-height: 60px;
}

.apresentacao__texto-subtitulo {
    color: #464646;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.apresentacao__imagem {
    height: 368px;
}

.apresentacao__texto-link {
    height: 24px;
    width: 467px;
}

.apresentacao__texto-lista {
    display: flex;
    gap: 32px;
} 

.apresentacao__texto-item a {
    color: #464646;
    font-weight: 500;
    line-height: 19px;
    text-decoration: none;
}

.apresentacao__texto-item a:hover {
    border-bottom: 1px solid #464646;
}