.apresentacao {
    align-items: flex-start;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 5px;
}

.apresentacao__texto {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    width: 100%;
    
}

.apresentacao__texto-titulo {
    color: #464646;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.apresentacao__texto-subtitulo {
    color: #464646;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.apresentacao__imagem {
    height: 150px;
}

.apresentacao__texto-link {
    height: 24px;
    
}

.apresentacao__texto-lista {
    display: flex;
    gap: 16px;
} 

.apresentacao__texto-item a {
    color: #464646;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.apresentacao__texto-item img {
    height: 10px;
}

/*COLOCAR NO RESPONSIVO*/
.apresentacao__texto-item a:hover {
    border-bottom: 1px solid #464646;
}


@media screen and (min-width: 768px) {
    .apresentacao {
        align-items: center;
        flex-direction: row;
        margin: 0 auto;
        width: 80%;
    }

    .apresentacao__texto {
        width: 751px;
    }

    .apresentacao__imagem {
        height: 200px;
    }
}

@media screen and (min-width: 992px) {
    .apresentacao {
        height: calc(100vh - 20px);
        padding: 0;
    }

    .apresentacao__texto {
        gap: 24px;

        height: 246px;
        width: 751px;
    }

    .apresentacao__texto-titulo  {
        font-size: 45px;
        line-height: 60px;
    }

    .apresentacao__texto-subtitulo {
        font-size: 22px;
        line-height: 26px;
    }

    .apresentacao__texto-lista {
        gap: 32px
    }

    .apresentacao__texto-item a {
        font-size: 16px;
    }

    .apresentacao__texto-item img {
        height: auto;
    }

    .apresentacao__imagem {
        height: 368px;
    }
}
