.cabecalho {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 175px;
    justify-content: center;
    padding: 16px;
}

.cabecalho__logo {
    align-items: center;
    display: flex;
}

.cabecalho__logo-icone {
    margin-right: 5px;
}

.cabecalho__logo-nome {
    color: #464646;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

.cabecalho__link-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.cabecalho__link-item a {
    color: #464646;
    font-weight: 500;
    line-height: 19px;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .cabecalho {
        gap: 10px;
        height: 100px;
    }
}

@media screen and (min-width: 992px) {
    .cabecalho {
        flex-direction: row;
        height: 20px;
        justify-content: space-between;
        margin: 0 auto;
        padding: 20px 0;
        width: 80%;
    }

    .cabecalho__link-item a:hover {
        border-bottom: 1px solid #464646;
    }
    
    .cabecalho__link-item:last-child a {
        font-weight: 700;
    }
}
