.formacao {
    align-items: center;
    background: #b5cff3;
    background-image: url("../img/bg-onda1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 82px;

}

.formacao__titulo {
    color: #464646;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
}

.formacao__academica {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.formacao__academica-cards {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.formacao__academica-cards-img {
    align-items: center;
    background: #FFFFFF;
    background-size: cover;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 150px;
    justify-content: center;
    padding: 16px;
    width: 150px;
}

.ensino-medio {
    background-image: url("../img/chapeu-formatura.png");
}

.faetec {
    background-image: url("../img/faetec.png");
}

.oracle-one {
    background-image: url("../img/one-logo.png");
}

.formacao__academica-cards-img img {
    height: inherit;
    width: inherit;
}

.formacao__academica-cards-figTitulo {
    color: #464646;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

.formacao__academica-cards-figSubTitulo {
    color: #464646;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

@media screen and (min-width: 768px) {
    .formacao__academica {
        flex-direction: row;
    }
}

@media screen and (min-width: 992px) {
    .formacao__titulo {
        font-size: 32px;
        line-height: 38px;
        margin-top: 50px;
    }

    .formacao__academica-cards-img {
        height: 200px;
        width: 200px;
    }

    .formacao__academica-cards-figTitulo {
        font-size: 20px;
    }
}
