.skills-e-hobbies {
    background-image: url("../img/bg-onda2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
}

.skills, .hobbies {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 88px;
}

.skills__titulo {
    margin-top: 70px;
}

.skills__titulo , .hobbies__titulo {
    color: #464646;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 32px;

}

.skills__caixa, .hobbies__caixa {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.skills__caixa-item, .hobbies__caixa-item {
    align-items: flex-start;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100px;
    justify-content: flex-end;
    padding: 16px;
    width: 100px;
}

.skills__caixa-item-nome, .hobbies__caixa-item-nome {
    color: #464646;
    line-height: 19px;
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    .skills__caixa, .hobbies__caixa {
        flex-direction: row;
    }
}

@media screen and (min-width: 992px) {
    .skills, .hobbies {
        margin: 0 auto 88px;
        width: 80%;
    }

    .skills__titulo {
        margin-top: 70px;
    }
}