.sobre {
    align-items: center;
    background: #b5cff3;
    background-image: url("../img/bg-onda1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 64px 0;
}

.sobre__div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 255px;
    justify-content: flex-start;
    padding: 0px;
    width: 80%;
}

.sobre__titulo {
    color: #464646;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
}

.sobre__descricao {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    width: 70%;
}

